//BACKGROUND COLORS//

$background-color-first: #1C1C10;
$background-color-second: #D2401E;
$background-color-third: #F6F7F2;

//TEXT COLORS//

$text-color-white:#FFFFFF;
$text-color-gold:#B7903C;
$text-color-red:#D2401E;    
$text-color-dark-gray:#303030;   
$text-color-light-gray:#88888888; 