@import "./partials/variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 1000px;
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.wrap {
  flex-wrap: wrap;
}
.no-margin {
  position: relative;
  margin: 0 -5px;
}
.btn {
  background-color: $background-color-second;
  color: $text-color-white;
  padding: .5rem;
  border: none;
  cursor: pointer;
}
.col.sx-txt {
  background-color: $background-color-first;
  background-size: 100px 100px;
  background-image: radial-gradient(#8F8F8F 1px, transparent 0);
}
.text-color-white {
  color: $text-color-white;
}
.text-color-red {
  color: $text-color-red;
}
.text-color-green {
  color: $text-color-green;
}
.text-color-gold {
  color: $text-color-gold;
}
.txt-sx{
  padding-right: 1rem;
}
.img-small {
  filter: invert(1);
  height: 12px;
}

.pizza-wrap {
  position: relative;
}



