@use "./partials/variables";

// @import "bootstrap";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    
}

.my-container {
    max-width: 90%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    justify-content: center;
  }

.no-margin{
    position:relative;
     margin: 0 -5px;
 }

